# Ignore files produced during compilation
*.o
*.dSYM
*.bin
*.elf
*.map

# From my vim 
*.swp

# Ignore stm32f37x_common directory since it doesn't need to be here
stm32f37x_common/

# Ignore common libs
lib/
